<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/59514e09b2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Charlotte Connect</title>
</head>
<body>
    <header>
        <nav class="firstclass">
            <a href='/'><img src="/images/logo.png" alt="Image description" id="top-left-image"></a>
            <h1>Charlotte Connect</h1>
          </a>
          <div class="right">
            <a href='../connection/new' class = "header-button">New Connection</a>&nbsp;&nbsp;&nbsp;
            <a href='' class = "header-button">Login</a>&nbsp;&nbsp;&nbsp;
            <a href='' class = "header-button">Sign up</a>&nbsp;&nbsp;&nbsp;
          </div>
        </nav>
    </header>
    <nav>
            <div class="left">
              <a href='/' class = "header-button">Home</a> &nbsp;&nbsp;&nbsp;&nbsp;
              <a href='/connection' class = "header-button">Events</a>
                
            </div>
        </nav>