<%- include('./partials/header.ejs') %>
        <main class="main-content">
            <h2>Contact Us</h2>
            <p>Feel free to reach out to us with any questions or feedback.</p>
            <p>Use the details below to send us a message:</p>
            <p>Email: rhedaoo@uncc.edu or wfoster9@uncc.edu</p>
            <p>Phone: 704-687-2000 or 980-215-4128</p>
        </main>
<%- include('./partials/footer.ejs') %>