<%- include('./partials/header.ejs') %>
        <main class="main-content">
            <h2>Welcome to the official Charlotte Connect website!</h2>
            <p>Attend and create unique meet-up events to connect with other members.</p>
            <p>Check out our Connections section to browse available connections!</p>
        </main>
<%- include('./partials/footer.ejs') %>